// 滚动条样式美化
::-webkit-scrollbar{
  width: 5px;
  background-color: rgba(255, 255, 255, .0);
}
::-webkit-scrollbar-thumb{
  width: 100%;
  border-radius: 3px;
  //background-color: rgba(119, 22, 37, 1);
  background-color: rgba(255, 255, 255, .3);
}
::-webkit-scrollbar-track{
  //background-color: rgba(38, 11, 15, 1);
  background-color: rgba(119, 22, 37, 1);
}

::selection{
  background-color: #ebb31f;
}

//
html,body{
  width: 100%;
  height: 100%;
}
#app,.g-mn{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

// message
.m-message{
  position: fixed;
  top: 0;
  left: 50%;
  padding: 16px;
  height: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transform: translate(-50%, -50px);
  animation: message 5s ease;
}
@keyframes message {
  0% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 20px);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, 20px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
}











